<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hola {{userInfo.name}} {{userInfo.lastname}} </h1>
        <p class="text-white mt-0 mb-5">Esta es tu página de perfil</p>
        <a href="#!" class="btn btn-info">Perfil</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a> -->
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <!-- <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{userInfo.name}} {{userInfo.lastname}}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{userInfo.address}} {{userInfo.city}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{userInfo.email}}
            </div>
            <hr class="my-4" />
            <p>
              {{userInfo.about}}
            </p>
            <a href="javascript:void(0)">Gracias totales</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mi cuenta</h3>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form [formGroup]="userForm">

            <h6 class="heading-small text-muted mb-4">Informacion del usuario</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Usuario</label>
                    <input matInput type="text" id="input-username" formControlName="user"
                      class="form-control form-control-alternative" placeholder="Usuario" [disabled]="true">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input matInput type="email" id="input-email" formControlName="email"
                      class="form-control form-control-alternative" placeholder="jesse@example.com">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nombre</label>
                    <input type="text" id="input-first-name" formControlName="name"
                      class="form-control form-control-alternative" placeholder="Nombre(s)">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Apellidos</label>
                    <input type="text" id="input-last-name" formControlName="lastname"
                      class="form-control form-control-alternative" placeholder="Apellidos">
                  </div>
                </div>
              </div>
            </div>


            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Información del contacto</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Direccion</label>
                    <input id="input-address" formControlName="address" class="form-control form-control-alternative"
                      placeholder="Dirección" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Ciudad</label>
                    <input type="text" id="input-city" formControlName="city"
                      class="form-control form-control-alternative" placeholder="Ciudad">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Pais</label>
                    <input type="text" id="input-country" formControlName="country"
                      class="form-control form-control-alternative" placeholder="Pais">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Codigo Postal</label>
                    <input type="number" id="input-postal-code" formControlName="code"
                      class="form-control form-control-alternative" placeholder="Codigo Postal">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Acerca de mi</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" formControlName="about"
                  placeholder="Acerca de mi..."></textarea>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>