<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">

        <div class="col-lg-3 col-xs-12">
          <div class="card">
            <div class="card-header bg-secondary">
              <h1 class="card-title">Filtros</h1>
            </div>
            <div class="card-body">

              <div class="card">
                <div class="card-header bg-ligh">
                  <h3 class="card-title">Categorias</h3>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li *ngFor="let c of categories" class="list-group-item">
                      <div class="custom-control custom-radio">
                        <input type="radio" id="radioCategory" name="radioCategory" class="custom-control-input">
                        <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
                      </div>
                    </li>

                  </ul>




                </div>
              </div>

              <div class="card">
                <div class="card-header bg-ligh">
                  <h3 class="card-title">Ingredientes</h3>
                </div>
                <div class="card-body">



                </div>
              </div>

              <div class="card">
                <div class="card-header bg-ligh">
                  <h3 class="card-title">Areas</h3>
                </div>
                <div class="card-body">



                </div>
              </div>






            </div>
          </div>


        </div>


      </div>
    </div>
  </div>
</div>